<!DOCTYPE html>
<html>
    <head>
        <title>My First Weather Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/home.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </head>
<body>
<h2>Weather Dashboard in Flask</h2>
<form action="{{url_for('render_results')}}" method="POST">
    City Name: <input type="text" name="City"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>